.navbar-brand{
  margin-right: 80px;
}
@media (min-width: 992px) {
  .navbar{
    height: 70px;
  }
  .nav-link{
    line-height:51px;
    padding-bottom: 4px;
    padding-top: 12px;
  }
  .nav-link-border{
    border-bottom: 4px solid #fff;
  }
  .navbar-brand{
    font-size: 24px;
  }
}



